@antd/dist/antd.css


/* index.css */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    margin: 0; /* Varsayılan margin'i kaldırır */
    display: flex;
  }
  
  html, body, #root {
    height: 100%;
    width: 100%;
    overflow: hidden;
  }
  
  /*.site-calendar-demo-card {
    max-height: 600px; 
    max-width: 900px; /* İstediğiniz maksimum yüksekliği ayarlayın *//*
    overflow-y: auto;  
    align-items: "center"; /* İçerik taşarsa kaydırma çubuğu ekleyin *//*
  }
  */
  