@antd/dist/antd.css


/* index.css */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    margin: 0; /* Varsayılan margin'i kaldırır */
    display: flex;
  }
  
  html, body, #root {
    height: 100%;
    width: 100%;
    overflow: hidden;
  }
  
  .ant-select-selector {
    border: 1px solid #002040 !important; /* Custom border color */
    border-radius: 4px; /* Optional: for rounded corners */
  }
  
  .custom-select .ant-select-selection-placeholder {
    color: #888; /* Custom placeholder color */
  }
  
  